*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:any-link {
  color: inherit;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body>div {
  height: 100%;
}
